<style>
canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}
.container {
	//padding: 15px;
	//background: rgba(255,255,255,.85);
}
td {
	white-space: nowrap;
	border: none;
	padding: 0;
}
td:empty {
	background: transparent;
	border: none;
	height: 20px;
}
th {
	display: none;
}
em {
	color: #AAA;
	font-style: normal;
}
p {
	font-size: 22px;
}
</style>
